/* Configurações gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}


.badge-danger {
    background-color: #dc3545;
}

/* Estilo da saudação */
.saudacao {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0d6efd;
    text-align: center;
}

/* Títulos */
h2, h3 {
    color: #333;
}

/* Estilo do botão */
.btn-primary,
.btn-success,
.btn-info,
.btn-secondary {
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-primary:hover,
.btn-success:hover,
.btn-info:hover,
.btn-secondary:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo dos cartões */
.card {
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Animação de hover nos cartões */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

/* Estilo das cores dos cartões com base no status */
.card.text-success {
    border-color: #198754;
    color: #198754;
}

.card.text-danger {
    border-color: #dc3545;
    color: #dc3545;
}

.card.text-primary {
    border-color: #0d6efd;
    color: #0d6efd;
}

/* Estilo da lista de notificações no modal */
.notification-item {
    padding: 0.5rem;
    background-color: #f8f9fa;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.notification-item:hover {
    background-color: #e9ecef;
}

.notification-item i {
    font-size: 1.2rem;
}

/* Rodapé do modal */
.modal-footer .btn {
    font-weight: 500;
}

.modal-footer .btn-outline-secondary:hover {
    background-color: #e2e6ea;
    color: #333;
}
